/**
 * ------------------------------------------------------------------------------------ Movie Pilot Demo CSS
 */

* {
	margin: 0;
	padding: 0;	
}

body {
	font: 12px/21px "Arial";
	color: #000;
}

a {
	outline: 0;
}

ol,ul {
	margin-left: 23px;
}

p {
	margin-bottom: 20px;
}

input, select {
	padding: 3px 5px;
}

input {
	width: 242px;
}

h1 {
	font-size: 28px;
	line-height: 32px;
}

h2 {
	font-size: 17px;
	font-weight: normal;
	position: absolute;
	top: -13px;
	left: 5px;
	background: #fff;
	padding: 0 9px;
}

/**
 * ------------------------------------------------------------------------------------ Feedback
 */

div#wrapper div#feedback {
	font-size: 10px;
    padding: 1px 9px;
    position: absolute;
    right: 22px;
    top: 20px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#wrapper div#feedback.error {
	background: #E3711A;
}

div#wrapper div#feedback.message {
	background: #3FBC2A;
}

div#wrapper div#feedback.info {
	background: #EEF88A;
	color: #000;
}

/**
 * ------------------------------------------------------------------------------------ Main construction
 */

div#wrapper {
	width: 900px;
	background: #fff;
	border: 1px solid #000;
	margin: 20px auto;
	padding: 22px 22px 3px 22px;
	min-height: 600px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

div#wrapper div.column {
	margin-right: 22px;
    width: 285px;
	float: left;
}

div#wrapper div.column.last {
	margin: 0;
}

div#wrapper div.column > div {
	background: #fff;
	height: 300px;
	margin-bottom: 22px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #ccc
}

div#wrapper div.column > div > div {
	padding: 15px 12px 12px 12px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 273px;
}

div#wrapper div.column div#types,
div#wrapper div.column div#types > div{
	height: 55px;
}

div#wrapper div.column div#types select {
	width: 259px;
}

div#wrapper div.column div#types select.saving {
	background: url('/static/images/ajax-loader.gif') 88% 3px no-repeat;
	border: none;
}

div#wrapper div.column div#pic {
	height: 222px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

div#wrapper div#name {
	cursor: pointer;
	padding-bottom: 22px;
	min-height: 32px;
}

div#wrapper div#name input {
	font-weight: bold;
	font-size: 19px;
	width: 576px;
	line-height: 28px;
}

div#wrapper div#name input.saving {
	background: url('/static/images/ajax-loader.gif') 98% 8px no-repeat;
}

/**
 * ------------------------------------------------------------------------------------ Nodeprops
 */

div#wrapper div.column div#nodeprops > div {
	padding: 0;
	height: 279px;
}

div#wrapper div.column div#nodeprops > div > div {
	float: none;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

div#wrapper div.column div#nodeprops > div > div.header {
	background: #eee;
	font-weight: bold;
}

div#wrapper div.column div#nodeprops > div > div div {
	float: left;
	padding: 5px 11px;
	border-right: 1px solid #ccc;
	overflow: hidden;
	white-space: nowrap;
}

div#wrapper div.column div#nodeprops > div > div div.key {
	width: 36%;
}

div#wrapper div.column div#nodeprops > div > div div.value {
	width: 30%;
	cursor: pointer;
}

div#wrapper div.column div#nodeprops > div > div div.del {
	border: none;
	text-align: center;
	width: 8%;
	cursor: pointer;
}

div#wrapper div.column div#nodeprops > div > div.row div.del {
	color: #ccc;
}

div#wrapper div.column div#nodeprops > div > div div input {
	width: 95%;
	padding: 0px;
	font-size: 9px;
}

div#wrapper div.column div#nodeprops div#addnew {
	background: #eee;
	height: 21px;
	overflow: visible;
	padding: 0 7px;
	text-align: right;
	cursor: pointer;
	position: relative;
}

div#wrapper div.column div#nodeprops div#addnew div#addNewTypes {
	background: #EEEEEE;
    border: 1px solid #CCCCCC;
    left: 100%;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: -10px;
    z-index: 999;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: none;
}

div#wrapper div.column div#nodeprops div#addnew div#addNewTypes div {
	border: none;
}

div#wrapper div.column div#nodeprops div#addnew:hover > div#addNewTypes {
	display: block;
}

div#wrapper div.column div#nodeprops > div > div div input.saving {
	background: url('/static/images/ajax-loader.gif') 98% -1px no-repeat;
}

/**
 * ------------------------------------------------------------------------------------ Connections
 */

div#wrapper div.column div.connection > div > div.row {
	padding: 5px 0;
	clear: left;
	width: 100%;
}

div#wrapper div.column div.connection div > div {
	float: left;
}

div#wrapper div.column div.connection div.row div.name {
	max-width: 170px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

div#wrapper div.column div.connection > div > div.row.saving {
	background: url('/static/images/ajax-loader.gif') 162px 7px no-repeat;
}

div#wrapper div.column div#connections input#searchConnections.searching {
	background: url('/static/images/ajax-loader.gif') 98% 3px no-repeat;
}

div#wrapper div.column div#connections div#searchholder {
	padding-top: 7px;
}

div#wrapper div.column div#connections div#searchholder div {
	float: left;
}

div#wrapper div.column div#connections div#searchholder div.row {
	clear: left;
	width: 100%;
	padding: 5px 0;
}

div#wrapper div.column div#connections div#searchholder div.row div.name {
	width: 91%;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

div#wrapper div.column div#connections div#searchholder div.row div.add {
	width: 20px;
	color: blue;
	cursor: pointer;
}

/**
 * ------------------------------------------------------------------------------------ Slider widget
 */

div#wrapper div.column div.connection div > div.weight {
	float: right;
    height: 5px;
    width: 72px;
	margin-top: 8px;
}

div#wrapper div.column div.connection div > div.weight a.ui-slider-handle {
	margin-top: -3px;
	cursor: pointer;
}

/**
 * ------------------------------------------------------------------------------------ Breadcrumb
 */

div#wrapper div#breadcrumb {
	overflow: hidden;
	margin-bottom: 10px;
	height: 22px;
	
}

div#wrapper div#breadcrumb > div {
	float: left;
	color: blue;
	margin-right: 16px;
	cursor: pointer;
	text-indent: -10px;
}

div#wrapper div#breadcrumb > div::before {
	content: ">  ";
	color: #ccc;
}