/**
 * ------------------------------------------------------------------------------------ Movie Pilot Demo CSS
 */

* {
	margin: 0;
	padding: 0;	
}

body {
	font: 12px/21px "Arial";
	color: #000;
}

ol,ul {
	margin-left: 23px;
}

p {
	margin-bottom: 20px;
}

input, select {
	padding: 3px 5px;
}

input {
	width: 242px;
}

h1 {
	font-size: 28px;
	line-height: 32px;
}

h2 {
	font-size: 17px;
	font-weight: normal;
	position: absolute;
	top: -13px;
	left: 5px;
	background: #fff;
	padding: 0 9px;
}

/**
 * ------------------------------------------------------------------------------------ Feedback
 */

div#wrapper div#feedback {
	font-size: 10px;
    padding: 1px 9px;
    position: absolute;
    right: 22px;
    top: 20px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#wrapper div#feedback.error {
	background: #E3711A;
}

div#wrapper div#feedback.message {
	background: #3FBC2A;
}

div#wrapper div#feedback.info {
	background: #EEF88A;
	color: #000;
}

/**
 * ------------------------------------------------------------------------------------ Main construction
 */

div#wrapper {
	width: 900px;
	background: #fff;
	border: 1px solid #000;
	margin: 20px auto;
	padding: 22px 22px 3px 22px;
	min-height: 600px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

div#wrapper div.column {
	margin-right: 22px;
    width: 285px;
	float: left;
}

div#wrapper div.column.last {
	margin: 0;
}

div#wrapper div.column > div {
	background: #fff;
	height: 300px;
	margin-bottom: 22px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #ccc
}

div#wrapper div.column > div > div {
	padding: 15px 12px 12px 12px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 273px;
}

div#wrapper div.column div#types,
div#wrapper div.column div#types > div{
	height: 55px;
}

div#wrapper div.column div#types select {
	width: 259px;
}

div#wrapper div.column div#types select.saving {
	background: url('/static/images/ajax-loader.gif') 88% 3px no-repeat;
	border: none;
}

div#wrapper div.column div#pic {
	height: 222px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

div#wrapper div#name {
	cursor: pointer;
	padding-bottom: 22px;
	min-height: 32px;
}

div#wrapper div#name input {
	font-weight: bold;
	font-size: 19px;
	width: 576px;
	line-height: 28px;
}

div#wrapper div#name input.saving {
	background: url('/static/images/ajax-loader.gif') 98% 8px no-repeat;
}

/**
 * ------------------------------------------------------------------------------------ Nodeprops
 */

div#wrapper div.column div#nodeprops > div {
	padding: 0;
	height: 279px;
}

div#wrapper div.column div#nodeprops > div > div {
	float: none;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

div#wrapper div.column div#nodeprops > div > div.header {
	background: #eee;
	font-weight: bold;
}

div#wrapper div.column div#nodeprops > div > div div {
	float: left;
	padding: 5px 11px;
	border-right: 1px solid #ccc;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

div#wrapper div.column div#nodeprops > div > div div.key {
	width: 36%;
}

div#wrapper div.column div#nodeprops > div > div div.value {
	width: 30%;
}

div#wrapper div.column div#nodeprops > div > div div.del {
	border: none;
	text-align: center;
	width: 8%;
}

div#wrapper div.column div#nodeprops > div > div.row div.del {
	color: #ccc;
}

div#wrapper div.column div#nodeprops > div > div div input {
	width: 95%;
	padding: 0px;
	font-size: 9px;
}

div#wrapper div.column div#nodeprops div#addnew {
	background: #eee;
	height: 21px;
	overflow: hidden;
	padding: 0 7px;
	text-align: right;
	cursor: pointer;
}

div#wrapper div.column div#nodeprops > div > div div input.saving {
	background: url('/static/images/ajax-loader.gif') 98% -1px no-repeat;
}

/**
 * ------------------------------------------------------------------------------------ Connections
 */

div#wrapper div.column div.connection > div > div.row {
	padding: 5px 0;
	clear: left;
}

div#wrapper div.column div.connection div > div {
	float: left;
}

div#wrapper div.column div.connection div.row div.name {
	width: 189px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}


/**
 * ------------------------------------------------------------------------------------ Slider widget
 */

div#wrapper div.column div.connection div > div[widget=slider] {
	width: 70px;
	position: relative;
}

div#wrapper div.column div.connection div > div[widget=slider] div {
	float: none;
	/*position: absolute;*/
}

div#wrapper div.column div.connection div > div[widget=slider] div[component=track] {
	width: 70px;
	background: #5A5A5B;
	height: 2px;
	position: absolute;
	top: 10px;
	left: 0px;
}

div#wrapper div.column div.connection div > div[widget=slider] div[component=handle] {
	height: 11px;
	background: #ccc;
	position: absolute;
	cursor: pointer;
	top: 6px;
	left: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#wrapper div.column div.connection div > div[widget=slider] div[component=upleft],
div#wrapper div.column div.connection div > div[widget=slider] div[component=downright]
{
	display: none;
}