/**
 * ------------------------------------------------------------------------------------ Movie Pilot Demo CSS
 */

* {
	margin: 0;
	padding: 0;	
}

body {
	font: 11px/18px "Arial";
	color: #000;
}

a {
	outline: 0;
}

ol,ul {
	margin-left: 23px;
}

p {
	margin-bottom: 20px;
}

input, select {
	padding: 3px 5px;
}

input {
	width: 242px;
}

h1 {
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
}

h2 {
	font-size: 17px;
	font-weight: normal;
	position: absolute;
	top: -13px;
	left: 5px;
	background: #fff;
	padding: 0 9px;
}

/**
 * ------------------------------------------------------------------------------------ Feedback
 */

div#feedbackHolder {
	position: absolute;
    right: 23px;
    top: 20px;
}

div#feedbackHolder > div {
	float: left;
	margin-left: 5px;
}

div#feedback {
	font-size: 10px;
    padding: 1px 9px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#feedback.error {
	background: #E3711A;
}

div#feedback.message {
	background: #3FBC2A;
}

div#feedback.info {
	background: #EEF88A;
	color: #000;
}

/**
 * ------------------------------------------------------------------------------------ Load indicator
 */

div#loadindicator {
	background: url('/static/images/ajax-loader.gif') right center no-repeat;
	height: 20px;
	width: 16px;
	color: #BAB1B1;
}

div#xhroverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
}

/**
 * ------------------------------------------------------------------------------------ Main construction
 */

div#wrapper {
	width: 945px;
	margin: 20px auto;
	position: relative;
}

div#wrapper div.inner {
	background: #fff;
	border: 1px solid #000;
	padding: 22px 22px 3px 22px;
	min-height: 600px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

div#wrapper div.column {
	margin-right: 22px;
    width: 285px;
	float: left;
}

div#wrapper div.column.last {
	margin: 0;
}

div#wrapper div.column > div {
	background: #fff;
	height: 300px;
	margin-bottom: 22px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #ccc
}

div#wrapper div.column > div > div {
	padding: 15px 12px 12px 12px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 273px;
}

div#wrapper div.column div#types,
div#wrapper div.column div#types > div{
	height: 55px;
}

div#wrapper div.column div#types select {
	width: 259px;
}

div#wrapper div.column div#types select.saving {
	background: url('/static/images/ajax-loader.gif') 88% 3px no-repeat;
	border: none;
}

div#wrapper div.column div#pic {
	height: 222px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

div#wrapper div#name {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	min-height: 37px;
	margin-bottom: 20px;
	padding: 8px 15px;	
}

div#wrapper div#name input {
	font: 28px/36px "Arial";
	font-weight: bold;
	width: 100%;
	padding: 2px 0;
	border: none;
}

div#wrapper div#name input.saving {
	background: url('/static/images/ajax-loader.gif') 98% 8px no-repeat;
}

div#wrapper div#newNodeButton {
	cursor: pointer;
    padding: 0 9px;
    position: absolute;
	right: -67px;
    top: 61px;
    white-space: nowrap;
	background: #ccc;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}

/**
 * ------------------------------------------------------------------------------------ Nodeprops
 */

div#wrapper div.column div#nodeprops > div {
	padding: 0;
	height: 279px;
}

div#wrapper div.column div#nodeprops > div > div {
	float: none;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

div#wrapper div.column div#nodeprops > div > div.header {
	background: #eee;
	font-weight: bold;
}

div#wrapper div.column div#nodeprops > div > div div {
	float: left;
	padding: 5px 9px;
	border-right: 1px solid #ccc;
	overflow: hidden;
	white-space: nowrap;
}

div#wrapper div.column div#nodeprops > div > div div.key {
	width: 31%;
}

div#wrapper div.column div#nodeprops > div > div div.value {
	width: 40%;
	cursor: pointer;
}

div#wrapper div.column div#nodeprops > div > div div.del {
	border: none;
	text-align: center;
	width: 8%;
	cursor: pointer;
}

div#wrapper div.column div#nodeprops > div > div.row div.del {
	color: #ccc;
}

div#wrapper div.column div#nodeprops > div > div div input {
	width: 95%;
	padding: 0px;
	font-size: 9px;
}

div#wrapper div.column div#nodeprops div#addnew {
	background: #eee;
	height: 21px;
	overflow: visible;
	padding: 0 7px;
	text-align: right;
	cursor: pointer;
	position: relative;
}

div#wrapper div.column div#nodeprops div#addnew div#addNewTypes {
	background: #EEEEEE;
    border: 1px solid #CCCCCC;
    left: 100%;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: -10px;
    z-index: 999;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: none;
}

div#wrapper div.column div#nodeprops div#addnew div#addNewTypes div {
	border: none;
}

div#wrapper div.column div#nodeprops div#addnew:hover > div#addNewTypes {
	display: block;
}

div#wrapper div.column div#nodeprops > div > div div input.saving {
	background: url('/static/images/ajax-loader.gif') 98% -1px no-repeat;
}

/**
 * ------------------------------------------------------------------------------------ Connections
 */

div#wrapper div.column div.connection > div > div.row {
	padding: 5px 0;
	clear: left;
	width: 100%;
}

div#wrapper div.column div.connection div > div {
	float: left;
}

div#wrapper div.column div.connection div.row div.name {
	max-width: 170px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

div#wrapper div.column div.connection > div > div.row.saving {
	background: url('/static/images/ajax-loader.gif') 162px 7px no-repeat;
}

div#wrapper div.column div#connections input#searchConnections.searching {
	background: url('/static/images/ajax-loader.gif') 98% 3px no-repeat;
}

div#wrapper div.column div#connections div#searchholder {
	bottom: 10px;
	left: 13px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 13px;
	top: 50px;
}

div#wrapper div.column div#connections div#searchholder div {
	float: left;
}

div#wrapper div.column div#connections div#searchholder div.row {
	clear: left;
	width: 100%;
	padding: 5px 0;
}

div#wrapper div.column div#connections div#searchholder div.row div.name {
	width: 91%;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

div#wrapper div.column div#connections div#searchholder div.row div.add {
	width: 20px;
	color: blue;
	cursor: pointer;
}

/**
 * ------------------------------------------------------------------------------------ Slider widget
 */

div#wrapper div.column div.connection div > div.weight {
	float: right;
    height: 5px;
    width: 72px;
	margin-top: 8px;
}

div#wrapper div.column div.connection div > div.weight a.ui-slider-handle {
	cursor: pointer;
    font-size: 9px;
    height: 19px;
    margin-top: -5px;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    width: 19px;
}

/**
 * ------------------------------------------------------------------------------------ Breadcrumb
 */

div#wrapper div#breadcrumb {
	overflow: hidden;
	margin-bottom: 10px;
	height: 22px;
	
}

div#wrapper div#breadcrumb > div {
	float: left;
	color: blue;
	margin-right: 16px;
	cursor: pointer;
	text-indent: -10px;
}

div#wrapper div#breadcrumb > div::before {
	content: ">  ";
	color: #ccc;
}

/**
 * ------------------------------------------------------------------------------------ Facebook Helper
 */

div.fbsearch {
	margin-top: 10px;
}

div.fbsearchresults {
	position: absolute;
	bottom: 10px;
    left: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 10px;
    top: 55px;
}

div#fbprogress {
	top: 54px;
    left: 10px;
    position: absolute;
    right: 10px;
	height: 20px;
}

.ui-progressbar-value { background-image: url('/static/css/ui-lightness/images/pbar-ani.gif'); }

div.fbsearchresults div.fbsearchrow {
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	padding: 15px 0 15px 124px;
	position: relative;
}

div.fbsearchresults div.fbsearchrow.selected {
	background: #DEDCDC;
}

div.fbsearchresults div.fbsearchrow img.image {
	float: left;
    margin-left: -109px;
	width: 100px;
}

div.fbsearchresults div.fbsearchrow div.name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -4px;	
}

div.fbsearchresults div.fbsearchrow div.category {
	color: #8B8B8B;
    font-size: 10px;
}

div.fbsearchresults div.fbsearchrow div.likes {
	font-size: 10px;
}

div.fbsearchresults div.fbsearchrow a.link {
	color: blue;
    display: block;
    font-size: 9px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
	margin-top: auto;
}

div.fbsearchresults div.fbsearchrow div.checkboxHolder {
	bottom: 0;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	text-align: right;
}

div.fbsearchresults div.fbsearchrow div.checkboxHolder input {
	width: auto;
}

/**
 * ------------------------------------------------------------------------------------ Create node
 */

div.createNodeForm {
	margin-top: 10px;
}

div.createNodeForm > div {
	margin: 17px 0;
}

div.createNodeForm > div > input[type=text] {
	margin-left: 15px;
}

div.createNodeForm > div > select {
	margin-left: 20px;
}

div.createNodeForm > div > select > option {
	padding-right: 15px;
}

div.createNodeForm > div > input[type=checkbox] {
	margin-left: 99px;
	width: auto;
}

.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.ui-autocomplete-loading {
	background: url('/static/images/ajax-loader.gif') right center no-repeat;
}